<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer Segment Predictor</title>
</head>
<body>
  <h2>Enter Customer Details</h2>
  <form action="/predict" method="post">
    SEC: <input type="number" name="SEC" required><br><br>
    FEH: <input type="number" name="FEH" required><br><br>
    MT: <input type="number" name="MT" required><br><br>
    SEX: <input type="number" name="SEX" required><br><br>
    AGE: <input type="number" name="AGE" required><br><br>
    EDU: <input type="number" name="EDU" required><br><br>
    HS: <input type="number" name="HS" required><br><br>
    CHILD: <input type="number" name="CHILD" required><br><br>
    CS: <input type="number" name="CS" required><br><br>
    Affluence Index: <input type="number" name="Affluence Index" required><br><br>
    <input type="submit" value="Predict Segment">
  </form>
</body>
</html>
